<div id="header-top">
    			<div class="container">
    				<div class="row">
                        <div class="col-md-12">
        					<div class="header-top-left">
        						<ul id="top-links" class="clearfix">
        							<li><a href="#" title="My Wishlist"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">My Wishlist</span></a></li>
        							<li><a href="#" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">My Account</span></a></li>
        							<li><a href="cart.html" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">My Cart</span></a></li>
        							<li><a href="checkout.html" title="Checkout"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">Checkout</span></a></li>
        						</ul>
        					</div><!-- End .header-top-left -->
        					<div class="header-top-right">
        						
        						<div class="header-top-dropdowns pull-right">
    								<div class="btn-group dropdown-money">
    									<button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
    										<span class="hide-for-xs">US Dollar</span><span class="hide-for-lg">$</span>
    									</button>
    									<ul class="dropdown-menu pull-right" role="menu">
    										<li><a href="#"><span class="hide-for-xs">Euro</span><span class="hide-for-lg">&euro;</span></a></li>
    										<li><a href="#"><span class="hide-for-xs">Pound</span><span class="hide-for-lg">&pound;</span></a></li>
    									</ul>
    								</div><!-- End .btn-group -->
    								<div class="btn-group dropdown-language">
    									<button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
    										<span class="flag-container"><img src="/assets/england-flag.png" alt="flag of england"></span>
    										<span class="hide-for-xs">English</span>
    									</button>
    									<ul class="dropdown-menu pull-right" role="menu">
    										<li><a href="#"><span class="flag-container"><img src="/assets/italy-flag.png" alt="flag of england"></span><span class="hide-for-xs">Italian</span></a></li>
    										<li><a href="#"><span class="flag-container"><img src="/assets/spain-flag.png" alt="flag of italy"></span><span class="hide-for-xs">Spanish</span></a></li>
    										<li><a href="#"><span class="flag-container"><img src="/assets/france-flag.png" alt="flag of france"></span><span class="hide-for-xs">French</span></a></li>
    										<li><a href="#"><span class="sm-separator"><img src="/assets/germany-flag.png" alt="flag of germany"></span><span class="hide-for-xs">German</span></a></li>
    									</ul>
    								</div><!-- End .btn-group -->
    							</div><!-- End .header-top-dropdowns -->
    							
    							<div class="header-text-container pull-right">
    								<p class="header-text">Welcome to Venedor!</p>
        							<p class="header-link"><a href="#">login</a>&nbsp;or&nbsp;<a href="#">create an account</a></p>
    							</div><!-- End .pull-right -->
    						</div><!-- End .header-top-right -->
    					</div><!-- End .col-md-12 -->
    				</div><!-- End .row -->
    			</div><!-- End .container -->
    		</div><!-- End #header-top -->